#section2 .category {margin-bottom:1.5rem;}

#section3 ul {display:inline-block; width:52rem; margin-top:5rem;}
#section3 li {width:50%; margin-bottom:3rem;}
#section3 li:first-child {height:5rem; width:100%;}
